.container {
    margin: 30%;
    text-align: center;
}



@media only screen and (max-width: 380px) {
    .container {
        margin: 30%;
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        margin: 30%;
        text-align: center;
    }
}