.p-about-container {
    margin: auto;
    text-align: center;
}



@media only screen and (max-width: 380px) {
    .p-about-container {
        margin: auto;
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    .p-about-container {
        margin: auto;
        text-align: center;
    }
}